@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<!DOCTYPE HTML>
<html>
<head>
	<script type="text/javascript">
		window.onload = function () {
			var chart = new CanvasJS.Chart("chartContainer",
				{
					theme: "light2",
					title: {
						text: "Availability Of Assets"
					},
					data: [
						{
							type: "doughnut",
							startAngle: 60,
							indexLabelFontSize: 16,
							indexLabel: "{label} - {y}%",
							toolTipContent: "<b>{label}:</b> {y}%",
							dataPoints: @Html.Raw(ViewBag.DataPoints)
						}
					]
				});
			chart.render();
		}
	</script>
	<script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</head>
<body>
	<div id="chartContainer" style="height: 300px; width: 100%;"></div>
</body>
</html>

